configuration {
    modi: "window,run,ssh,drun";
    show-icons: true;
    icon-theme: "Papirus";

    display-ssh:    "󰣀 ssh:";
    display-run:    "󱓞 run:";
    display-drun:   "󰣖 drun:";
    display-window: "󱂬 window:";
}

@theme "catppuccin-lavrent-mocha"
